<!DOCTYPE html>
<html>
<head>
  <title>HouesApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyA2lsbiFWOSvulr3APgsD5eYssx5kzF01I" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
